<html>
  <head>
    <title>workshop-server</title>
    <link href="/stylesheets/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/vendor/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/application.css" rel="stylesheet">
  </head>
  <body>
    <widget rel="workshop-server.widgets.shared/header" />

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-12">
          <widget id="main-content" />
        </div>
      </div>
    </div>


    <script src="/javascripts/vendor/jquery-2.0.3.min.js"></script>
    <script src="/javascripts/vendor/bootstrap.min.js"></script>
    <script src="/javascripts/vendor/application.js"></script>
  </body>
</html>
