<div>
  <div snippet="index-content">
    <div class="page-header">
      Welcome to Clojure Workshop!
    </div>

    <div snippet="people-online">
      <h2>Currently we have ${people-online-count} people online</h2>
    </div>

    <div snippet="test-runs">
      <h2>${test-runs} test runs were performed</h2>
    </div>

    <div snippet="successfull-tests">
      <h2>${successfull-tests} tests already passed</h2>
    </div>

    <div snippet="functions-in-progress">
      <h2>Functions still in progress:</h2>
      <pre><code>${functions-in-progress}</code></pre>
    </div>

  </div>



</div>
