<div>
  <div snippet="index-content">
    <div class="page-header">
      Welcome to Clojure Workshop!
    </div>

    <div snippet="people-online">
      <h2 snippet="people-online-count">Currently we have ${people-online-count} people online</h2>
    </div>

    <div snippet="task-completion">
      <h2>Task completion and progress</h2>

      <table snippet="task-completion-table" class="table striped">
        <thead>
          <tr>
            <td>Username</td>
            <td>Completed Tasks</td>
            <td>Attempts Count</td>
          </tr>
        </thead>
        <tbody>
          <tr snippet="task-completion-row">
            <td><a href="${user-link}">${username}</a></td>
            <td>${completed-tasks}</td>
            <td>${attempts-count}</td>
          </tr>
        </tbody>
      </table>
    </div>



  </div>



</div>
